nav {
  width: 100vw;
  position: fixed;
  z-index: 10000;
}

#navbar {
  background-color: var(--main-grey);
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5%;
  border-bottom: 0.01rem solid var(--dark-border2);
  padding: 1% 5%;
  user-select: none;
}

#nav-title {
  font-size: 1.5rem;
  color: var(--text-white);
  text-shadow: 1.8px 1.8px var(--blue-shadow);
}

.nav-menu {
  list-style: none;
  font-size: 1.2rem;
  color: var(--text-white);
}

#nav-menu-classic {
  width: 30%;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav-menu-tablet {
  background-color: var(--main-grey);
  border-style: none;
}

#dropdown {
  position: relative;
}

#dropdown-menu {
  display: none;
  position: absolute;
}

.dropdown-btn {
  background-color: var(--main-grey);
  color: var(--text-white);
  border: 0.01rem solid var(--dark-border2);
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
}
